/* SKILLS SECTION ------------------------------------------------------------------ */
#skills-section {
    max-width: 1183px;

    .skills-title {
        line-height: .7;
        text-align: center;
        span {font-size: 1rem;}
    }

    .skillsContainer-div {

        // Dropdown Group
        .skillsDropdownContainer-div {
            display: flex;
            flex-direction: column;
            gap:5px;
            
            // Dropdown singular
            .skillDropdown-div {
                display: flex;
                flex-direction: column;
                border: 3px solid rgb(33, 155, 254);
                border-radius: 12px;
                
                // Dropdown Button
                .skillDropdown-button {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    .skillDropdownButtonTitle-div {
                        display: flex;
                        gap:0.3em;
    
                        img {width:30px;}
                    }
        
                    .button-arrow {
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent; 
                        width: 18px;
                    }
                    &:not(.collapsed) {.button-arrow {border-bottom: 12px solid #343a40;}}
                    &:is(.collapsed) {.button-arrow {border-top: 12px solid #343a40;}}
                }
                
                // Dropdown Content
                .skillDropdownCollapse-div {                    
                    .skillDropdownItem-div {
                        display: flex; 
                        margin: 0 0.5rem;
                        padding: 3px 0;
                        gap:5px;

                        &:not(:first-child){
                            border-top: 1px solid black;
                            border-color: var(--bs-gray-400);
                        }
    
                        input[type=checkbox] {
                            pointer-events: none;
                            position: relative;
                            width: auto; 
                            flex: 0 0 16px;
                            border-color: black;
                            // margin: 0.5rem 0.2rem 0.2rem 0.5rem;
                        }

                        code {
                            background-color: rgb(232, 230, 230);
                            padding:0.1rem;
                            border-radius: 0.3rem;
                        }
                    }
                }                
            }     
        }
    
        .skillsLogoContainer-div{
            display: grid;
            grid-template-columns: repeat(3,33%);
            grid-template-rows: repeat(5,1fr);

            @media screen and (min-width: 450px) {
                grid-template-columns: repeat(4,25%);
                grid-template-rows: repeat(4,1fr);
            }
            @media screen and (min-width: 900px) {
                grid-template-columns: repeat(5,20%);
                grid-template-rows: repeat(3,1fr);
            }

            border: 3px solid rgb(33, 155, 254);
            border-radius: 15px;
            padding-top:10px;
            margin-top: 5px;
            
            .skillLogo-div {
                grid-column: span 1;
                grid-row: span 1;
                margin-bottom:10px;
            }        
        }
    }
}

/* #skills span div:nth-child(2n+2) {background-color: lightgrey;} */
/* #skills .collapse div:not(:last-child) {border-bottom: 1px solid #077187;} */
/* #skills button img {margin-top: auto; margin-bottom: auto;} */

/* #skills .collapse div:nth-child(2n+2) {background-color: rgb(232, 230, 230);} */
/* #skills .collapse div {
    display: flex;
    gap:5px;
    margin-bottom: 0.5rem;
}
#skills .collapse input {
    align-self: flex-start;
    margin:5px 0 0 6px;
} */