#welcome-section {
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .welcomeContainer-div {
    max-width: 765px;

    .welcomeTitle-div {
      display: flex;
      align-items: end;
      justify-content: center;
      gap:5px;

      img {border: 5px solid black;
        border-radius: 50%;
        max-width: 118px;
      }

      h1 {
        font-size: 40px;
      }
    }

    .welcomeContent-div {
      max-width: 738px;
      margin: auto;
    }
  }
}

@media only screen and (min-width:425px) {
  .welcomeTitle-div h1 {
    font-size: 50px !important;
    margin-bottom: -7 !important;
  }
}

#welcome-section {
  .welcomeContainer-div {
    animation: fadeInBottom 0.5s;

    .welcomeTitle-div h1 {
      background-image: linear-gradient(
        -225deg,
        #44107a 20%,
        #ff1361 57%,
        #ff8121 75%,
        #ff1361 90%,
        #231557 100%
        /* 

        #44107a 10%,
        #ff1361 30%,
        #ff8121 50%,
        #ff1361 70%,
        #231557 90%,
        #44107a 100%
        */
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s reverse infinite
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes fadeInBottom {
    0% {opacity: 0}
    0% {transform:translateY(100%);}
}

@keyframes fadeInRight {
    0% {opacity: 0}
    0% {transform:translateX(100%);}
}