// GENERAL CHANGES
* {font-family: 'Rubik', sans-serif;}

html { scroll-behavior: smooth;}

// FONT CHANGES
p, code {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

h5 {text-align: center;}

// IMAGE CHANGES
.loading {
    filter: blur(10px);
    clip-path: inset(0);
    animation: pulse 2.5s infinite;    
}

@keyframes pulse {
    0% {
        background-color: rgba(255,255,255,0);
    }
    50% {
        background-color: rgba(255,255,255,0.2);
    }
    100% {
        background-color: rgba(255,255,255,0);
    }
}

.loaded {
    filter: blur(0px);
    transition: filter 0.5s linear;
}

.logoLink {
    img {
        width: 35px;
    }
}

.skillLogo-div {
    text-align: center;
    img {
        width: 65px;
        height: 65px;
    }            
    h6 {margin:5px 0 0 0}
}   

//SECTIONAL CHANGES
section {
    margin: 0 auto 2rem auto;
    padding: 1rem 0;

    .sectionContainer-div, .section-title {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        border: 1.5px solid #172033;
        background-color: white;
        border-radius: 1rem;
        margin: auto;
    }

    .section-title {
        width: fit-content;
        margin-bottom: 1rem;
        padding:1rem;
    }

    .sectionContainer-div {
        padding: 0.8rem;
        padding-bottom: 0.5rem;
    }
}

hr {
    width:80%;
    margin: 1rem auto !important;
}



// PAGE BACKGROUND
body {
    position: relative;
    // background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(315deg, rgb(1, 1, 26) 0%, rgb(1, 1, 26) 35%);
    // background-image: url("../assets/stars.png")
    #root::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/spaceBackgroundStuff/stars.png");
        background-position-x: center;
        // background-repeat: space;
        
    }
}

// @-webkit-keyframes AnimateBG {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }

// @keyframes AnimateBG {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }

@import "./navbar.scss";
@import "./welcome.scss";
@import "./projects.scss";
@import "./skills.scss";
@import "./references.scss";
@import "./contact.scss";