* {
  font-family: "Rubik", sans-serif;
}

p, code {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

/* 
In safari 9.0 (only, not > 9.0) you can do it now in CSS with this nice hack. 
You don't need any JS code. I did it and its working fine for me. Use this hack:

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

    type your custom css code here 

}
*/
.angle1 {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #428CC5;
}

.angle1::after {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  background: #4C86B0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
}

.logoLink img {
  width: 35px;
}

section {
  margin: 0 auto 2rem auto;
  padding: 1rem 0;
}
section .sectionContainer-div, section .section-title {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 1.5px solid #172033;
  background-color: white;
  border-radius: 1rem;
  margin: auto;
}
section .section-title {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  padding: 1rem;
}
section .sectionContainer-div {
  padding: 0.8rem;
  padding-bottom: 0.5rem;
}

hr {
  width: 80%;
  margin: 1rem auto !important;
}

h5 {
  text-align: center;
}

.skillLogo-div {
  text-align: center;
}
.skillLogo-div img {
  width: 65px;
  height: 65px;
}
.skillLogo-div h6 {
  margin: 5px 0 0 0;
}

body {
  background: linear-gradient(315deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  background-size: 150% 100%;
}
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* NAV SECTION ------------------------------------------------------------------ */
nav ul, nav button, nav a {
  color: white;
}

nav ul, nav button {
  background-color: #172033 !important;
}

nav {
  width: 100%;
  min-width: 375px;
  z-index: 1;
  padding: 5px 5px 0 0 !important;
  animation: fadeInRight 0.5s;
}
nav .navbar-toggler {
  margin-left: auto;
}
nav .navbar-nav {
  width: -moz-min-content;
  width: min-content;
  margin-left: auto;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  display: flex;
  gap: 5px;
}
nav .navbar-nav .navbar-item {
  margin: auto;
}
nav .navbar-nav .navbar-item a:not(.navbar-imageLink) {
  padding: 2px 5px;
  text-decoration: none;
}
nav .navbar-nav .navbar-item a:not(.navbar-imageLink):hover {
  background-color: #428cc5;
  border-radius: 10px;
  text-decoration: none !important;
  color: white !important;
}
nav .navbar-nav .navbar-item a:not(.navbar-imageLink):focus {
  background-color: #2c6a99 !important;
}
@media screen and (min-width: 768px) {
  nav .navbar-nav .navbar-item a:not(.navbar-imageLink) {
    padding: 7px 5px !important;
  }
}
nav .navbar-nav .navbar-item .navbar-imageLink img {
  width: 35px;
}
nav .navbar-nav .navbar-image-li {
  display: flex;
  gap: 5px;
}

#welcome-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#welcome-section .welcomeTitle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#welcome-section .welcomeTitle-div .welcomePicture-div {
  background: url(https://cdn.discordapp.com/attachments/1117279430281285632/1153024085790568578/SkylerPictureSmall.png) no-repeat center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 118px;
  height: 118px;
}
#welcome-section .welcomeTitle-div .welcomePicture-div img {
  background-color: rgb(73, 73, 73);
}
#welcome-section .welcomeTitle-div h1 {
  font-size: 40px;
}
#welcome-section .welcomeContent-div {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 8px 0 8px 0;
  max-width: 738px;
  margin: 0 auto 16px auto;
}
#welcome-section .welcomeContent-div p:last-child {
  margin: 0;
}

.welcomeContainer-div {
  max-width: 765px;
}

@media screen and (min-width: 585px) {
  .welcomeTitle-div {
    flex-direction: row !important;
  }
  .welcomeTitle-div h1 {
    font-size: 50px !important;
  }
  .welcomeTitle-div .welcomePicture-div {
    width: 91px !important;
    height: 91px !important;
    margin-bottom: 16px;
  }
}
#welcome-section .welcomeTitle-div h1 {
  background-image: linear-gradient(-225deg, #44107a 20%, #ff1361 57%, #ff8121 75%, #ff1361 90%, #231557 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s reverse infinite;
}
#welcome-section .welcomeContainer-div, #welcome-section .welcomeTitle-div {
  animation: fadeInBottom 0.5s;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
  }
  0% {
    transform: translateY(100%);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  0% {
    transform: translateX(100%);
  }
}
/* PROJECT SECTION ------------------------------------------------------------------ */
#projects-section {
  max-width: 1500px;
}
#projects-section .projectsContainer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.project-card {
  border-radius: 1rem !important;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 !important;
}
.project-card .project-imageLink {
  position: relative;
  height: -moz-min-content !important;
  height: min-content !important;
  overflow: hidden;
}
.project-card .project-imageLink .badgeContainer-div {
  position: absolute;
  margin: 0.5rem !important;
  bottom: 0;
  z-index: 2;
  gap: 5px;
}
.project-card .project-imageLink .badgeContainer-div a {
  text-decoration: none;
}
.project-card .project-imageLink .carousel .carousel-indicators {
  margin: 0 auto 1rem auto;
}
.project-card .project-imageLink .carousel .carousel-inner {
  background-color: rgb(73, 73, 73);
}
.project-card .project-imageLink .carousel .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 300px;
  width: 100% !important;
  height: 100% !important;
}
.project-card .project-content {
  margin: auto;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: 100%;
}
.project-card .project-description {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 16px;
  overflow: auto;
  padding: 8px 0 8px 0;
}
.project-card .project-description p:last-child {
  margin: 0;
}
.project-card .project-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.project-card .project-tools .skillLogo-div {
  display: flex;
  align-items: center;
}
.project-card .project-tools .skillLogo-div img {
  height: auto;
  max-width: 2rem;
}

@media only screen and (max-width: 991px) {
  .carousel-inner img {
    max-height: 50vh;
  }
}
@media only screen and (min-width: 992px) {
  .project-card {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
    max-width: 100%;
    border-radius: 0;
    overflow: visible;
  }
  .project-card .project-imageLink {
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
  }
  .project-card .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: white;
    border: 1px solid lightgrey;
    overflow: hidden;
  }
  .animate-middle-left {
    transition: all 0.4s ease-out;
    z-index: 1;
  }
  .animate-middle-right {
    position: absolute !important;
    transition: all 0.4s ease-out;
    padding-left: 9.5% !important;
  }
  .animate-1 {
    transform: translate(-35.7%, 0); /* 36% */
  }
  .animate-2 {
    transform: translate(49.7%, 0); /* 50% */
  }
  .animate-middle-left-reverse {
    transition: all 0.4s ease-out;
    z-index: 1;
  }
  .animate-middle-right-reverse {
    position: absolute !important;
    transition: all 0.4s ease-out;
    padding-right: 9.5% !important;
  }
  .animate-1-reverse {
    transform: translate(35.7%, 0); /* 36% */
  }
  .animate-2-reverse {
    transform: translate(-49.7%, 0); /* 50% */
  }
}
/* SKILLS SECTION ------------------------------------------------------------------ */
#skills-section {
  max-width: 1183px;
}
#skills-section .skills-title {
  line-height: 0.7;
  text-align: center;
}
#skills-section .skills-title span {
  font-size: 1rem;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(33, 155, 254);
  border-radius: 12px;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button .skillDropdownButtonTitle-div {
  display: flex;
  gap: 0.3em;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button .skillDropdownButtonTitle-div img {
  width: 30px;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button .button-arrow {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  width: 18px;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button:not(.collapsed) .button-arrow {
  border-bottom: 12px solid #343a40;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdown-button:is(.collapsed) .button-arrow {
  border-top: 12px solid #343a40;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdownCollapse-div .skillDropdownItem-div {
  display: flex;
  margin: 0 0.5rem;
  padding: 3px 0;
  gap: 5px;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdownCollapse-div .skillDropdownItem-div:not(:first-child) {
  border-top: 1px solid black;
  border-color: var(--bs-gray-400);
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdownCollapse-div .skillDropdownItem-div input[type=checkbox] {
  pointer-events: none;
  position: relative;
  width: auto;
  flex: 0 0 16px;
  border-color: black;
}
#skills-section .skillsContainer-div .skillsDropdownContainer-div .skillDropdown-div .skillDropdownCollapse-div .skillDropdownItem-div code {
  background-color: rgb(232, 230, 230);
  padding: 0.1rem;
  border-radius: 0.3rem;
}
#skills-section .skillsContainer-div .skillsLogoContainer-div {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(5, 1fr);
  border: 3px solid rgb(33, 155, 254);
  border-radius: 15px;
  padding-top: 10px;
  margin-top: 5px;
}
@media screen and (min-width: 450px) {
  #skills-section .skillsContainer-div .skillsLogoContainer-div {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 900px) {
  #skills-section .skillsContainer-div .skillsLogoContainer-div {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 1fr);
  }
}
#skills-section .skillsContainer-div .skillsLogoContainer-div .skillLogo-div {
  grid-column: span 1;
  grid-row: span 1;
  margin-bottom: 10px;
}

/* #skills span div:nth-child(2n+2) {background-color: lightgrey;} */
/* #skills .collapse div:not(:last-child) {border-bottom: 1px solid #077187;} */
/* #skills button img {margin-top: auto; margin-bottom: auto;} */
/* #skills .collapse div:nth-child(2n+2) {background-color: rgb(232, 230, 230);} */
/* #skills .collapse div {
    display: flex;
    gap:5px;
    margin-bottom: 0.5rem;
}
#skills .collapse input {
    align-self: flex-start;
    margin:5px 0 0 6px;
} */
#references-section {
  max-width: 1183px;
}
#references-section hr {
  width: 100%;
}
#references-section .references-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#references-section .references-title .nbsp {
  display: none;
}
@media screen and (min-width: 475px) {
  #references-section .references-title {
    flex-direction: row;
  }
  #references-section .references-title .nbsp {
    display: block;
  }
}
#references-section .references-div {
  margin-bottom: 2rem;
}

/* CONTACT SECTION ------------------------------------------------------------------ */
#contact-section .contactContainer-div {
  max-width: 678px;
}
#contact-section .contactContainer-div .contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#contact-section .contactContainer-div .contact-form .contactFormAfterText-div {
  display: flex;
  justify-content: space-between;
}
#contact-section .contactContainer-div .contact-form .contactFormAfterText-div .contactFormLogos-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

#contact textarea {
  margin: 0.5rem 0;
}

#contact img {
  width: 35px;
}

#contact a:first-child {
  margin-right: 5px;
}

.contactContainer-div, .form-control {
  border: 1.5px solid #172033 !important;
}/*# sourceMappingURL=index.css.map */