* {font-family: 'Rubik', sans-serif;}

p, code {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

html { scroll-behavior: smooth;}
/* 
In safari 9.0 (only, not > 9.0) you can do it now in CSS with this nice hack. 
You don't need any JS code. I did it and its working fine for me. Use this hack:

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

    type your custom css code here 
    
}
*/

// img {
    // background-color: lightgray;
// }

.angle1 {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #428CC5;
    
    
    //clipPath: 'polygon(0 0, 100% 0%, 100% 100%, 0% 100%)'//'polygon(50% 50% at 50% 50%)'
}
.angle1::after {
    display: block;
    content:'';
    height:100%;
    width: 100%;
    background: #4C86B0;

    //0,0 is top left, 1,1 is bottom right
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
    // clip-path: polygon(0 0, 100% 0, 0 100%);
}

.logoLink {
    img {
        width: 35px;
    }
}

section {
    margin: 0 auto 2rem auto;
    padding: 1rem 0;

    .sectionContainer-div, .section-title {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        border: 1.5px solid #172033;
        background-color: white;
        border-radius: 1rem;
        margin: auto;
    }

    .section-title {
        width: fit-content;
        margin-bottom: 1rem;
        padding:1rem;
    }

    .sectionContainer-div {
        padding: 0.8rem;
        padding-bottom: 0.5rem;
    }
}

hr {
    width:80%;
    margin: 1rem auto !important;
}

h5 {text-align: center;}

.skillLogo-div {
    text-align: center;
    img {
        width: 65px;
        height: 65px;
    }            
    h6 {margin:5px 0 0 0}
}   


body {
    position: relative;
    // background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(315deg, rgb(1, 1, 26) 0%, rgb(1, 1, 26) 35%);
    // background-image: url("../assets/stars.png")
    #root::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../assets/stars.png");
        background-position-x: center;
        // background-repeat: space;
        
    }
}

// @-webkit-keyframes AnimateBG {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }

// @keyframes AnimateBG {
//     0% {
//         background-position: 0% 50%;
//     }
//     50% {
//         background-position: 100% 50%;
//     }
//     100% {
//         background-position: 0% 50%;
//     }
// }

@import "./navbar.scss";
@import "./welcome.scss";
@import "./projects.scss";
@import "./skills.scss";
@import "./references.scss";
@import "./contact.scss";