@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  /* margin: 0; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;


  &.modal-open {
    height: 100vh;
    overflow-y: hidden;
  }
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// form input, form textarea {
//     // position: relative;
//     &:focus {
//         outline: 1px solid rgb(29 78 216);

//         // &::after {
//         //     position: absolute;
//         //     top: 0;
//         //     left: 0;
//         //     width: 100%;
//         //     height: 100%;
//         // }
//     }
// }

// input::before {
//     content: 'Name' !important;
// }

#contact-form-email,
#contact-form-subject,
#contact-form-message
{  
  position: relative;

  label {
    content: attr(htmlFor); // Use the name attribute for content
    position: absolute;
    top: 16px;
    left: 8px;
    transition: .3s ease-in-out;
    // color: #999;
    pointer-events: none;
  }

  // input:valid + label,
  // textarea:valid + label, // Interesting !!!!

  
  input:focus + label,
  textarea:focus + label {
    color: #fff;
  }

  input:focus + label,
  textarea:focus + label,
  &.is-active label {
    top: -12px;
    font-size: 12px;
    color: inherit;
  }

  &.has-error {
    border-color: #f56565;
    label {color: #f56565 !important} // text-red-500
  }

  &.is-active:not(.has-error) {
    border-color: #fff;
    label {color: #fff} // text-white
  }

  // &:not(.is-active):not(.has-error) {
    // border-color: #a0aec0;
    // label {color: #a0aec0} // text-gray-500
  // }
}

.project-card {

  &-info {
    opacity: 0;
    transition: .4s ease-in-out opacity;
    &, a, button {pointer-events: none}
  }

  &:hover, &:focus-within {

    .project-card-info {
      opacity: 1;
      &, a, button {pointer-events: auto}
    }
  }
}

// .carousel {
//   overflow: hidden;
//   white-space: nowrap;
//   box-sizing: border-box;
// }

.carousel-content {
  // position: absolute;
  display: inline-block;
  animation: scroll 10s linear infinite;
  // top: 50%;
  transform: translateY(-50%);
}

// .carousel-content span {
//   display: inline-block;
//   font-size: 1.5rem;
// }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.modal-container {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdownnav {
  // position: relative;

  &.open {
    .dropdownnav-content, .dropdownnav-content:focus-within {  // , &:focus-within
      transform: translateX(-160px);
      pointer-events: auto;
      background-color: rgba(31, 41, 55, 0.8);  
    }
    
    &::before {
      opacity: 1;
    }
  }
  
  .dropdownnav-content {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    // width: 0;
    width: 200px;
    right: -160px; // -200px;
    top: 0;
    bottom: 0;
    pointer-events: none;    
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease-in-out opacity;
  }
}

// .dropdownnav-button {
//   // position: absolute;
//   z-index: 10;
//   left: -30px;
// }

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 32px;
  height: 32px;
  cursor: pointer;

  // transition: 0.2s ease-in-out transform, 0.2s ease-in-out opacity;

  &-bar1, &-bar2, &-bar3 {
    width: 28px;
    height: 4px;
    background-color: white;
    transition: 0.3s;
    position: relative;
    border-radius: 10px;
  }

  &-bar1 { left: 0px }
  &-bar2 { left: 4px }
  &-bar3 { left: 0px }

  &.change {
    transform: translateX(-130px);

    .hamburger-icon-bar1 {
      transform: translate(0, 10px) rotate(-45deg);
    }
    .hamburger-icon-bar2 {
      // opacity: 0;
      transform: translateX(12px);
      width: 0px;
    }
    .hamburger-icon-bar3 {
      transform: translate(0, -10px) rotate(45deg);
    }
  }
}

// @keyframes un-blur {
//   0% {
//     filter: blur(10px);
//   }
//   100% {
//     filter: blur(0px);
//   }
// }